VITE_GOOGLE_WEB_CLIENT_ID=782128846272-hvq1st144odrrq2vuhdjc6gtlrrsfgbf.apps.googleusercontent.com
VITE_SCHEDULE_ENDPOINT=https://anatomy-pickles-api.mrs-annaclarke.workers.dev/schedule
VITE_SCHEDULE_SHEET_URL=https://docs.google.com/spreadsheets/d/106rXVVJFvhqlOwJUxXPgv2-l8nLdYgmsoEOKlTPtqDo/edit?gid=0#gid=0
