VITE_GOOGLE_WEB_CLIENT_ID=782128846272-hvq1st144odrrq2vuhdjc6gtlrrsfgbf.apps.googleusercontent.com
VITE_SCHEDULE_ENDPOINT=https://script.google.com/macros/s/AKfycbw8fgHWA_1GLhs1GFUoIlKrzx6crRzZuZNhzje9ojoQThvA_F2SLLHmeh026fhwzqKMFQ/exec
VITE_SCHEDULE_SHEET_URL=https://docs.google.com/spreadsheets/d/106rXVVJFvhqlOwJUxXPgv2-l8nLdYgmsoEOKlTPtqDo/edit?gid=0#gid=0
